.EditArea {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#editor,
#preview{
    background-color: white;
    margin: 30px;
    width: 50%;
    flex-grow: 1;
}

#preview {
    border: white solid 1px;
}

.textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.inputName {
    margin-top: 10px;
}

.ButtonsNote {
    display: inline;
}

.buttonNewNote, .buttonSaveNote, .buttonDeleteNote {
    margin: 10px
}