.NoteEditor {
    width: 100%;
    height: 100%;
}

.NoteArea {
    border-radius: 4px;
    padding: 4px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.EditorHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ListNotes {
    background-color: var(--primary-color);
    width: 20%;
    height: fit-content;
    padding: 10px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.NoteInList {
    cursor: pointer;
    color: var(--color);
    padding: 5px;
    border-radius: 5px;
}

.NoteInList:hover {
    background-color: var(--secondary-color);
}

.NoteInListSelected {
    cursor: pointer;
    color: var(--color);
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 5px;
}

.EditorArea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#Editor,
#Preview {
    background-color: var(--primary-color);
    color: var(--color);
    margin: 10px 10px 0px 10px;
    padding: 30px;
    height: 100%;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    line-height: 1.7em;
}

.TextArea {
    font-size: 1.2em;
    border: none;
    width: 100%;
    min-height: 100%;
    resize: none;
    background-color: var(--primary-color);
    color: var(--color);
    overflow-y: hidden;
}

.TextArea:focus {
    outline: none;
}

@media (max-width: 768px) {
    .NoteArea {
        flex-direction: column;
    }

    .ListNotes {
        max-width: 100%;
        flex-direction: row;
    }
}