.TaskDisplayMin {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: column;
    align-items: center;
    justify-content: center;
}

.TaskDisplayMinTable {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 20px;
}

.TaskDisplayText {
    color: var(--color);
    font-size: 16px;
}