.TaskManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Task {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TaskText {
    color: var(--color);
}

.TaskTable {
    margin: 20px;
}

.AddTask {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    width: fit-content;
}

.AddTask > * {
    margin: 6px;
}


.Modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.TaskModal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    margin: 30px;
    color: var(--background-color);
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--background-color);
}

.TaskFormModal {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}

.TaskModalButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: fit-content;
}