.TaskManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Area1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.Area2 {
    display: flex;
    flex-direction: column;
}

.TaskArea {
    padding: 10px;
    background-color: rgb(229, 231, 233);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TaskArea2 {
    padding: 10px;
    background-color: rgb(229, 231, 233);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
}

.Task {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TaskText {
    color: var(--color);
}

.TaskTable {
    margin: 20px;
}

.AddTask {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    width: fit-content;
}

.AddTask > * {
    margin: 6px;
}


.Modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.TaskModal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    padding: 30px;
    margin: 30px;
    color: var(--primary-color);
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.TaskFormModal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.TaskModalButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    width: fit-content;
}


@media (max-width: 768px) {
    .Area1 {
        flex-direction: column;
    }

    .TaskModal {
        width: 100%;
    }
}