.TaskManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--background);
}

.TaskFilter {
    width: 500px;
}

.Area1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.Area2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.TaskArea {
    width: 20em;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TaskArea2 {
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    height: fit-content;
}

.Task {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Task:hover {
    background-color: var(--accent2-color);
}

.TaskName, .TaskDate {
    overflow-wrap: break-word;
    color: var(--color);
    text-align: center;
}

.TaskTable {
    margin: 20px;
}

.AddTask {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: fit-content;
}

.AddTask > * {
    margin: 6px;
}

.Modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
}

.TaskModal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    padding: 20px;
    margin: 5px;
    color: var(--color);
    opacity: 100%;
    background-color: var(--background);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.TaskFormModal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.TaskModalButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    width: fit-content;
}

.TaskModalDate {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media (max-width: 768px) {
    .Area1 {
        flex-direction: column;
    }

    .TaskModal {
        width: 100%;
    }

    .AddTask {
        flex-direction: column;
    }
}