.workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    gap: 2rem;
    color: var(--title);
}

.workspaceList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.workspaceItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: var(--accent2-color);
    border-radius: 10px;
    cursor: pointer;
    color: var(--subtitle);
    text-align: center;
}