.EventManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Event {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.EventText {
    color: var(--color);
}

.AddEvent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: fit-content;
}

.AddEvent > * {
    margin: 6px;
}

@media (max-width: 768px) {
    .AddEvent {
        flex-direction: column;
    }
}