.App {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

:root::-webkit-scrollbar, :root::-webkit-scrollbar-track, :root::-webkit-scrollbar-thumb {
    width: 0px;
}

.container{
    height: fit-content;
    width: 100%;
    padding: 10px;
    background-color: var(--background);
}