html,body, #root {
    margin: 0px;
    padding: 0px;
    --primay-color: rgb(30,129,176);
    --accent-color: rgb(19, 66, 88);
    --color: white;
}

.Button {
    background-color: var(--primay-color);
    color: var(--color);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.Button:hover {
    background-color: var(--accent-color);
}

.Input {
    background-color: var(--primay-color);
    border: var(--color) 1px solid;
    color: var(--color);
    padding: 10px;
}

.TextColor {
    color: var(--color);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    overflow-x: hidden;
}