html,body, #root {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    /*
    --primary-color: rgb(30,129,176);
    --accent-color: rgb(19, 66, 88);
    --color: rgb(255, 255, 255);
    */
}

.title {
    text-align: center;
    color: var(--color);
    padding: 10px;
}

.subtitle {
    text-align: center;
    color: var(--color);
    padding: 5px;
}

.Button {
    cursor: pointer;
    width: fit-content;
    background-color: var(--primary-color);
    color: var(--color);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 10px;
}

.Button:hover {
    background-color: var(--accent-color);
}

.Input {
    border: var(--accent2-color) 1px solid;
    color: var(--color);
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
}

.Input::placeholder {
    color: var(--color);
}

.TextColor {
    color: var(--color);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    overflow-x: hidden;
}