.Nav {
    background-color: #34495E;
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .Nav {
        flex-direction: column;
        gap: 20px;
    }
}

.NavTitle {
    color: var(--color);
    cursor: pointer;
    text-decoration: none;
    font-size: xx-large;
    margin-left: 10px;
}

.NavLink {
    color: var(--color);
    background-color: #202e3b;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

.NavLink:hover {
    background-color: #425c76;
}