.Nav {
    background-color: var(--primary-color);
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .Nav {
        flex-direction: column;
        gap: 20px;
    }
}

.NavTitle {
    color: var(--color);
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    font-size: xx-large;
}

.NavLinks {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.NavLink {
    color: var(--color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.NavLink:hover {
    background-color: var(--accent2-color);
}

.DarkmodeButton {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}